.label {
       -fx-background-color: white;
       -fx-border-color: #555555;
        -fx-border-width: 1;
        -fx-border-radius: 4;
        -fx-background-radius: 4;


        -fx-padding: 4 10 4 10;

        -fx-alignment: center;
        -fx-text-alignment: center;
}